#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	cargo build --locked --release --workspace

override_dh_auto_test:
	cargo test --locked --workspace

override_dh_auto_clean:
	cargo clean

override_dh_auto_install:
	:
